/* only this for css comments 
CSS syntax:


selector{
    property: value;
    property: value;


}

selector: 3 options: HTML tag/element, ID of an element (#id), Custo, class - starts. (.classname).

Just use external Css files in this class
*/

/* applies to whole page */
body{
    background-color: rgb(119, 83, 145);
    color: rgb(0, 0, 0);
}

/* just apply to section with the title */
header{
    color: rgb(255, 255, 255);

    background-color:crimson;
    text-align: center;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;

}

#memeImage{
    /* neccesary for image to move */
    position: absolute;

    left: 300px;
    top: 200px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

            table{
                border: 3px solid grey;
                /* will cause multiple overlapping borders to make one */
                border-collapse: collapse;
            }

            tr{

                border: 3px solid black;
            }

            td{
                padding: 5px;
            }

            tr:nth-child(even){
                background-color: aquamarine;
                color: blueviolet;
            }
